.main{
    background-color: rgba(255, 0, 0, 0.773);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: 1000001;
    display: flex;
    justify-content: center;
    align-items: center;

    > .form{
        width: 80vw;
        height: 90vh;
        background-color: green;
    }
}