.main{
    width: 40vw;
    height: 40vh;
    position: absolute;
    z-index: inherit;

    > img{
        width: 100%;
        overflow: hidden;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(100%);
    }
    // background-image: url("../resources/artcentreimages/tattoo.jpeg") !important;
}