.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);

    > div{
        font-size: 25rem;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        z-index: 1500;
    }
}