@font-face {
    font-family: test;
    src: url("../../resources/fonts/JoeSandalmoe.otf");
  }

.main{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    .container{
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .name{
        position: absolute;
        top: 60%;
        font-size: 20rem;
        font-weight: bold;
        font-family: test;
        z-index: 100;
        mix-blend-mode: difference;
        color: rgb(175, 170, 170);
    }

    .content{
        position: absolute;
        width: 60vw;
        word-spacing: .8rem;
        line-height: 5rem;
        font-size: 2rem;
        left: 5vw;
        top: 5vh;
        color: white;
    }
}

// was placed at the end incase it is useful

// > .home{
//     width: 10%;
//     height: 100%;
//     // background-color: red;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     // background-image: url('https://w.forfun.com/fetch/cf/cfca63349627b3011a93d400a8d563b7.jpeg');
//     filter: grayscale(100%);
//     // opacity: 0.3;
//     position: absolute;
//     top: 0;
//     left: 0;
// }