.main{
    // background-color: white;
    height: 100vh;
    position: relative;
    width: 100vw;

    >.aboutus{
        position: absolute;
        width: 100%;
        height: 6rem;
        top: calc(100% - 6rem);
    }

    > .explore{
        text-transform: uppercase;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 70%;
        height: 20%;
        font-family: 'Lato';
        font-size: 15rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        > div{
            
            color: white;
            transition: transform .3s;
            margin: 0 1rem;
            z-index: -100020;

            &:nth-child(even){
                
                transform: rotate(-20deg);
            }
            &:nth-child(odd){
                transform: rotate(25deg);
            }


            &:nth-child(5){
                transform: rotate(10deg);
            }

            &:nth-child(n + 6){
                position: relative;
            }

            &:nth-child(n+2):nth-child(-n+5) {
                position: relative;
                left: -15%;
            }

            &:first-child{
                z-index: 100020;
                position: relative;
                left: 40%;
                transform: rotate(0deg);
            }

            &:hover{
                & ~ div {
                    transform: rotate(0deg);
                }
            }
        }
    }


}