.main{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    > .gallery{
        width: 100vw;
        height: 90%;
        position: absolute;
        top: 10%;
        mask: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 1) 90% , rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
        // background-color: rgb(23, 23, 23);
    }

    > .appointment{
        width: 30%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        > div{
            text-align: left !important;
        }
    }
}